:80 {
	handle /grafana/* {
		reverse_proxy grafana:3000
	}

	handle /mqtt {
		reverse_proxy mosquitto:9001
	}

	handle /whoami {
		respond "ok" 200
	}

	handle {
		root * /srv/static
		file_server
	}
}
