:80 {
	handle /grafana/* {
		reverse_proxy grafana:3000
	}

	handle /mqtt {
		reverse_proxy mosquitto:9001
	}

	@navigate header Sec-Fetch-Mode navigate

	handle /whoami {
		handle @navigate {
			redir / 302
		}
		handle {
			header Content-Type application/json
			respond `{"user":"buzzer","pass":"{$MQTT_BUZZER_PASS}"}` 200
		}
	}

	handle {
		root * /srv/static
		file_server
	}
}
